/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 *{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
 }
 body{
  font-family: 'Hind', sans-serif;
}

 h3{
   text-align: center;
   font-weight: bold;
 }
 .tagline{
   font-weight: bold;
   padding-left: 20px;
 }
 .tagline img{
   width: 25px;
 }

 .createBy,
 .taskDescription,
 .taskName{
   border: none;
   padding-left: 20px;
 }
 .createBy:hover,
 .taskName:hover,
 .taskDescription:hover{
  background: rgba(46, 185, 130, 0.32)
}
.container{
  margin-top: 50px;
}
.inputContainer input[type="date"]{
  border: none;
  padding-left: 20px;
}
.inputContainer input[type="date"]:hover{
  background: rgba(46, 185, 130, 0.32)
}
 .content {
   /*margin-top: -20px;*/
   padding-top: 1px;
   margin: auto;
   width: 350px;
   -webkit-box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.50);
   -moz-box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.50);
   box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.50);
 }
 .secondContent {
   /*margin-top: -20px;*/
   padding-top: 1px;
   margin: auto;
   width: 350px;

   -webkit-box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.1);
   -moz-box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.1);
   box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.1);
 }

 .createBy,
 .taskName,
 .taskDescription,
 .taskDate {
   /*padding: 10px 10px 10px 10px;*/
   width: 280px;
 }

.row{
  text-align: left;
  /*padding-left: 20px;*/
}

.row-label {
  text-align: left;
}

.inputContainer input[type="date"]{
  padding-left: 20px;
}
.done{
  padding-left: 20px;
}
/*table th tr td{
  width: 50px;
}*/
textarea{
  resize: none;
}
 footer p{
   text-align: center;
   margin-top: 30px;
   font-weight: bold;
 }

 label{
   padding-left: 20px;
 }

 .priority{
   padding-bottom: 30px;
   padding-left: 20px;
   text-align: center;
 }

 button{
   width: 90px;
   height: 50px;
   margin-right: 20px;
 }

 .modal-backdrop {
   z-index: 1 !important;
 }

 /*Modal for sig up and login*/
 .modal-header, h4, .close {
       background-color: #5cb85c;
       color:white !important;
       text-align: center;
       font-size: 30px;
   }
   .modal-footer {
       background-color: #f9f9f9;
   }

.expendSize button{
  width:150px;
}

.expendSize button:hover{
  color: green;
  transition: 0.2s;
}
