// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  margin-top: 50px;
}

.content{
  margin: auto;
  width: 400px;
  -webkit-box-shadow: 0px 0px 31px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 31px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 31px 1px rgba(0,0,0,0.75);
}

.row {
  text-align: center;
}

.taskDelete,
.taskAdd {
  padding: 20px 20px 20px 20px;
}

.taskName,
.taskDescription {
  border: none;
  width: 400px;

}

.taskName:hover,
.taskDescription:hover {
  background: rgba(46, 185, 130, 0.32)
}
