


      <!-- Page Content -->
      <div class="container">

          <!-- Page Heading -->
            <div class="row page-header">
                <div class="col-lg-10">
                  <h1><%= @greet %> <small><%= @value %></small></h1>
                </div>

                <div class="col-lg-2">
                <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus"></span></button> -->
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add</button>

                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                  <div class="modal-dialog modal-sm">
                  <!-- <div class="modal-dialog" width="150"> -->
                    <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">ToDo List</h4>
                      </div>
                          <div class="modal-body">
                              <!-- <p>Add Anglar</p> -->
                              <p class="tagline">By JJJAwesome&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href=""><span class="glyphicon glyphicon-plus"</span></a>&nbsp;&nbsp;&nbsp;
                                <a href=""><span class="glyphicon glyphicon-ok"></a></span>&nbsp;&nbsp;&nbsp;
                                <a href="#" onclick="getConfirmation();"><span class="glyphicon glyphicon-trash"></span></a></p>
                              <form action="" method="post">
                                  <div class="inputContainer">
                                      <input type="text" id="name"
                                             class="taskName"
                                             placeholder="Name"
                                             ng-model="newTask">
                                  </div>
                                  <div class="inputContainer">
                                      <textarea
                                              id="description"
                                              class="taskDescription"
                                              placeholder="Description"
                                              ng-model="newDescription"
                                              rows="3"
                                              cols="40"></textarea>
                                      <label for="description"></label>
                                  </div>
                                  <div class="inputContainer">
                                      <label style="padding-left:20px;">Date effective</label>
                                      <input type="date"
                                             id="dateeffective"
                                             class="taskDate"
                                             ng-model="newTaskDate">
                                      <label>Date due</label>
                                      <input type="date"
                                             id="duedate"
                                             class="taskDate"
                                             ng-model="newTaskDate">
                                  </div>

                                  <div class="inputContainer">
                                      <input type="text"
                                             id="create_by"
                                             class="createBy"
                                             placeholder="Created by"
                                             ng-model="create_by">
                                  </div>
                                  <hr/>
                                  <div class ="priority">
                                      <select>
                                        <option value="high Priority">High Priority</option>
                                        <option value ="low priority">Low Priority</option>
                                      </select>
                                  </div>
                                  <!-- <div class ="add">
                                    <i class="fa fa-plus fa-2x"></i>
                                  </div> -->
                              </form>
                      </div>
                      <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>

          <!-- Projects Row -->
          <div class="row">
            <div ng-controller="TodosController">
              <div ng-repeat="todo in todos">
                <div ng-repeat="obj in todo">
                  <div class="col-md-3 portfolio-item">
                    <a href="#">
                      <p><b>Date:</b> {{ obj.created_at }}</p>
                      <p><b>Name:</b> {{ obj.name }}</p>
                      <p><b>Description:</b> {{ obj.description }}</p>
                      <p><b>Priority:</b> {{ obj.priority }}</p>
                      <p><b>Done:</b> {{ obj.done }}</p>
                      <div ng-repeat="user in obj.users">
                        <p><b>Users:</b> {{ user.username }}</p>
                      </div>
                    </a>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <!-- /.row -->

          <hr>

          <!-- Footer -->
          <footer>
              <div class="row">
                  <div class="col-lg-12">
                      <p>Copyright &copy; DJJJ 2015</p>
                  </div>
              </div>
              <!-- /.row -->
          </footer>

      </div>
