<% if current_user %>
  <form class="logout" action="/session" method="POST">
    <input type="hidden" name="_method" value="delete"> 
    <input class="logout" type="submit" value="logout">
  </form>
<% end %>
<h1 class="title">What do you have to do...</h1>
<a class="add" href="#" class='linkbutton' ng-click="adderEnabled=!adderEnabled">+ADD</a>
<div ng-controller="TodosController as ctrl">
  <div class="todo-container">
    <div class="todo" ng-repeat="todo in todos">
      <div class="todo-whole effect5" ng-repeat="obj in todo">

        <!-- main index -->
        <div class="todo" ng-hide="editorEnabled">
          <div class="todo-info"><h4>{{ obj.name }}</h4></div>
          <div class="todo-info"><h4>Notes:  {{ obj.description }}</h4></div>
          <div class="todo-info"><h4>Due:  {{ obj.due_date | date : format : dd/mm/yyyy }}</h4></div>
          <div class ="todo-info">
            <select class="todo-info" ng-model="obj.priority"><h4>
              <option value="1">High Priority</option>
              <option value="2">Medium Priority</option>
              <option value ="3">Low Priority</option>
            </h4></select>
          </div>
          <form ng-submit="ctrl.deleteTodo(obj)">
            <input class="done" type="submit" value="Done!">
          </form>
        </div>

        <!-- EDITOR -->
        <div ng-show="editorEnabled">
          <form ng-submit="ctrl.editTodo(obj)">
            <input type="text" id="name"
                   class="taskName"
                   ng-model="obj.name"><br/>
              <textarea id="description"
                        class="taskDescription"
                        ng-model="obj.description"
                        rows="3"
                        cols="40"></textarea><br/>
            <label>Date due</label>
            <input type="date"
                   id="duedate"
                   class="taskDate"
                   ng-model="obj.due_date"><br/>
            <select ng-model="obj.priority">
              <option value="1">High Priority</option>
              <option value="2">Medium Priority</option>
              <option value ="3">Low Priority</option>
            </select><br/>
            <input type="submit" value="Change Todo">
          </form>
          <!-- DELETE -->
          <form ng-submit="ctrl.deleteTodo(obj)">
            <input type="submit" value="Delete">
          </form>
        </div>
        <a href="#" class="edit" ng-click="editorEnabled=!editorEnabled">edit</a>
          <!-- END OF EDIT FORM -->
        </div>
      </div>
    <!-- New TODO -->
    <div ng-show="adderEnabled">
      <form class="newform" ng-submit="ctrl.addNewTodo()">
      <h1>New Todo</h1>
        <input  type="text" class="input-padding" 
                cols: "40"
                class="taskName"
                placeholder="What do you have to do?"
                ng-model="ctrl.newTodoName"><br/>
        <textarea 
                  class="input-padding"
                  placeholder="Description"
                  ng-model="ctrl.newTodoDescription"
                  rows="3"
                  cols="40"></textarea><br/>
        <label for="description"></label><br/>
        <label>Date due</label><br/>
        <input type="date"
               id="duedate"
               class="taskDate"
               ng-model="ctrl.newTodoDueDate"><br/>
        <select ng-model="ctrl.newTodoPriority">
          <option value="1">High Priority</option>
          <option value="2">Medium Priority</option>
          <option value ="3">Low Priority</option>
        </select>
        <input type="submit" value="add">
      </form>
    </div>
  </div>
</div>
