<!-- Page Content -->
<div class="container">

  <!-- Page Heading -->
  <div class="row page-header">
    <h1>OUR AWESOME TODO APP!! OMFG</h1>
  </div>

  <!-- Projects Row -->
  <div class="row">
    <h2>INSERT SCREENSHOT OF TODO DEMO HERE</h2>
    <h3>
    <ul style="list-style:none">
      <li>
        YOU CAN HAS TASKZORS
      </li>
      <li>
        YOU CAN ADD OR DELETE TEH TASKZS
      </li>
      <li>
        YOU CAN MAKE YER OWN TEAMZORS
      </li>
      <li>
        IT IS SO VERY OSSUM!
      </li>
    </ul>
    </h3>
    <h3> SIGN UP NAO! GO START GETTING SHIT DONE ASAP!</h3>
  </div>

  <!-- /.row -->

  <hr>

          <!-- Footer -->
          <footer>
              <div class="row">
                  <div class="col-lg-12">
                      <p>Copyright &copy; DJJJ 2015</p>
                  </div>
              </div>
              <!-- /.row -->
          </footer>

      </div>

      <!-- /.container -->

</html>
