<!-- Page Content -->
<div class="container">

  <!-- Page Heading -->
  <div class="row page-header">
    <h1>OUR AWESOME TODO APP!! OMFG</h1>
  </div>

  <!-- Projects Row -->
  <div class="row">
    <h2>INSERT SCREENSHOT OF TODO DEMO HERE</h2>
    <h3>
    <ul style="list-style:none">
      <li>
        YOU CAN HAS TASKZORS
      </li>
      <li>
        YOU CAN ADD OR DELETE TEH TASKZS
      </li>
      <li>
        YOU CAN MAKE YER OWN TEAMZORS
      </li>
      <li>
        IT IS SO VERY OSSUM!
      </li>
    </ul>
    </h3>
    <h3> SIGN UP NAO! GO START GETTING SHIT DONE ASAP!</h3>
  </div>

  <!-- /.row -->

  <hr>
            <div class="row">
              <div class="col-sm-4">
                <p>Copyright 2015, DJJJ group. All rights reserved.</p>
              </div>
                <div class="col-sm-4">
                  <p>Contact Us Press & Media Privacy Policy Terms of Use|</p>
                </div>
                <div class="col-sm-4">
                  <div class="icon">
                    <%= image_tag("fb.png") %>&nbsp;&nbsp;
                    <%= image_tag("twitter.png") %>&nbsp;&nbsp;
                    <%= image_tag("google1.png") %>&nbsp;&nbsp;
                    <%= image_tag("YouTube.png") %>
                  </div>
                </div>
              </div>
            </div>

      <!-- /.container -->

</html>
